<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeleportCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeleportCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TeleportCalculator.Properties.Settings>
            <setting name="XmlCostsName" serializeAs="String">
                <value>Costs.xml</value>
            </setting>
            <setting name="TranslationsFolder" serializeAs="String">
                <value>Translations</value>
            </setting>
            <setting name="TeleportCostsElementCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SetingsFileName" serializeAs="String">
                <value>Settings.xml</value>
            </setting>
            <setting name="XsdSchemataFolderName" serializeAs="String">
                <value>Schemata</value>
            </setting>
            <setting name="ImagesFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="MinimalDistanceToTeleportNode" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="ClosestTeleportNodesCount" serializeAs="String">
                <value>3</value>
            </setting>
        </TeleportCalculator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TeleportCalculator.Properties.Settings>
            <setting name="MaxPathCount" serializeAs="String">
                <value>5</value>
            </setting>
        </TeleportCalculator.Properties.Settings>
    </userSettings>
</configuration>